.resume-line {
  font-size: 14px;
}
.big-brand {
  font-size: 32px;
  margin-top: 5px;
  margin-left: 40px;
  font-weight: 200;
}
.top-bar {
  margin-bottom: 40px;
}
.company-brand {
  font-size: 24px;
}
.content-view {
  margin-top: 20px;
}
.nav-content {
  margin-bottom: 25px;
}
.nav-icon {
  padding-top: 11px;
}
.img-circle {
    border-radius: 50%;
}
.company-logo {
  width: 30px;
  margin-right: 8px;
}
.portrait {
  width: 33px;
  height: 33px;
  margin-top: 10px;
  margin-top: 10px;
  margin-right: 7px;
}
.work-title {
  font-size: 18px;
}
.work-title-row {
  height: 32px;
}
.align-right {
  text-align: right;
}
.date-ranges {
  font-size: 13px;
}
.education-container {
  margin-top: 20px;
}
.underline {
  text-decoration: underline;
}
.story-yes-button {
  margin-right: 10px;
}
.story-text {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 200;
}
.story-image {
  margin-bottom: 30px;
}
div.black-square {
  width: 20px;
  height: 20px;
  background: black;
}
div.white-square {
  width: 20px;
  height: 20px;
  background: white;
}
.board {
  width: 630px;
  padding: 0px;
}
.outer-board {
  width: 666px;
}
.board-col {
  padding-left: 0px;
  padding-right: 0px;
  width: 20px;
}
.board-row {
  margin-bottom: 1px;
}
.helper-number {
  font-size: 7px;
}
.btn-pixel {
  margin-top: 10px;
  margin-right: 10px;
}
.load-list {
  margin-top: 10px;
}
.sm-font {
  font-size: 10px;
}
.margin-bottom {
  margin-bottom: 10px;
}
.border {
  border-style: solid;
}
.no-padding {
  padding: 0px;
}
.margin-top {
  margin-top: 15px;
}
.load-list-ul {
  padding-left: 15px;
}
.vertical-line {
  border-style: solid;
  border-right: 1px;
  border-width: thin;
  margin-left: 5px;
  margin-right: 5px;
}
.tictac-board {
  width: 280px;
  padding: 0px;
}
.tictac-outer-board {
  width: 344px;
  margin-left: 136px;
}
.tictac-board-col {
  padding-left: 0px;
  padding-right: 0px;
  width: 20px;
}
.tictac-board-row {
  margin-bottom: 1px;
}
div.empty-square {
  width: 76px;
  height: 76px;
  background: white;
}
.tic-tac-move-marker {
  font-size: 68px;
  text-align: center;
  bottom: 13px;
}
.color-steelblue {
  color: steelblue;
}
.color-indianred {
  color: indianred;
}
.tic-tac-message {
  font-size: 26px;
  font-family: cursive;
  margin-top: 10px;
}
.content-description {
  font-size: 12px;
}
.tech-tag {
  font-size: 10px;
  padding-bottom: 10px;
}
.padding-bottom-30 {
  padding-bottom: 30px;
}
.pp-card {
  background: whitesmoke;
  width: 280px;
}
.pp-img {
  height: 500px;
}
.pp-text-block {
  padding-left: 10px;
  padding-right: 10px;
}
.pp-text {
  font-size: 12px;
}
.pp-col {
  padding-right: 3px;
  padding-left: 3px;
}
.interest-img-slice {
  height: 80px;
}
.about-img {
  height: 450px;
}

html {
  background: url(./../img/white_background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body { background-color: transparent; }
